// TODO: Alphabetise css and cleanup
// TODO: Need to look at what styles need to be global

.header-banner, .footer-banner {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;

    .title {
        margin-bottom: 16px;

    }

    .content {
        max-width: 650px;
        text-align: center;
    }
}

.total {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    h2:first-of-type {
        flex: 1;
        margin: 0;
    }
}

.is-one-quarter {
    p:first-of-type {
        font-family: futura-pt, sans-serif;
        font-weight: 900;
        font-style: normal;
    }
    p {
        padding-left: 2rem;
    }
}

.numbers {
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin: 0;
    font-weight: 900;

    @media (max-width: 1023px) {
        justify-content: flex-start;
        padding-left: 40px;
    }
}

.item-image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    min-height: 190px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.starters-title, .mains-title {
    letter-spacing: 13px;
    margin-bottom: 35px;
    text-align: center;
    text-transform: uppercase;
    margin: 90px 0 50px 0;
}

.mains-title {
    margin-top: 0;
}

// TODO: look at creating global scss for everywhere cards are being used
.card-header {
    min-height: 190px;
    overflow: hidden;
    position: relative;

    .header-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }   
}

.card-header-title {
    padding-left: 0;
    font-size: 18px;
}

.card-content {
    min-height: 220px;
}

.count-control {
    display: flex;
    align-items: center;
    min-width: 30px;
    text-align: center;
    justify-content: center;

    .count {
        font-family: futura-pt-bold, sans-serif;
        font-weight: 700;
        font-style: normal;
        border: none;
        border-radius: unset;
        background-color: transparent;
    }
}

.is-grouped {
    justify-content: center;
}

.control {
    min-height: 70px;

    .button {
        font-family: futura-pt-bold, sans-serif;
        font-weight: 700;
        font-style: normal;
        padding: 15px 10px;
        // min-width: 143px;
        border: none;
        margin-top: 15px;
        line-height: 21px;
    }
}



.purple-btn {
    margin-top: 40px;
}

.card-footer {
    justify-content: center;
}

.basket-button-group {
    @media (max-width: 768px) {
        flex-direction: column;
    }
    .basket-button {
        margin: 0px 20px 40px 0;

        @media (max-width: 768px) {
            margin: 0 20px 40px 0;
        }
    }
}


