<div class="container is-fluid">
  <div class="header-banner">
    <h1 class="title">Your Basket</h1>
    <div class="content">
      <p>All PATLIJAN products are freshly prepared to maintain the highest quality. At the present time we will be delivering orders once a week on Fridays</p>
      <p>All orders received by midnight on Tuesday will be delivered on Friday, between 3 - 5pm.</p>
      <!-- TODO: Where are these special requests going? Currently no place to add -->
      <p>Please let us know of any specifics with regards to address or special needs in the order from our website</p>
      <p>Orders made after Tuesday at midnight will be delivered the next Friday</p>
      <div class="separator"></div>
    </div>
  </div>
  <div class="container">
    <div class="title mains-title">Mains</div>
    <div *ngIf="mainsTotal.length === 0">
      <h2>You haven't ordered any mains.</h2>
      <h2>Are you sure you don't fancy getting something</h2>
      <button class="button purple-btn is-large" (click)="goToOrder()">Order mains</button>
    </div>
    <ng-container *ngFor="let items of itemsInBasket">
      <div class="columns" *ngIf="items.type === 'main'">
        <div class="column is-one-quarter">
          <div class="image item-image" [style.background-image]="'url(assets/images/' + items.image +')'"></div>
        </div>
        <div class="column is-one-quarter">
          <p>{{ items.name }}</p>
          <p>{{ items.description }}</p>
        </div>
        <div class="column is-one-quarter numbers">
          <span>Quantity: {{ items.numberOfItems }}</span>
        </div>
        <div class="column is-one-quarter numbers">
          <span>Price: £{{ items.numberOfItems * items.price }}</span>
        </div>
      </div>
    </ng-container>
  </div>
  
  <div class="container">
    <div class="title starters-title">Sides & Salads</div>
    <div *ngIf="sidesTotal.length === 0">
      <h2>You haven't ordered any starters.</h2>
      <h2>Are you sure you don't fancy getting something</h2>
      <button class="button purple-btn is-large" (click)="goToOrder()">Order starters</button>
    </div>
    <ng-container *ngFor="let items of itemsInBasket">
      <div class="columns" *ngIf="items.type === 'starter'">
        <div class="column is-one-quarter">
          <div class="image item-image" [style.background-image]="'url(assets/images/' + items.image +')'"></div>
        </div>
        <div class="column is-one-quarter">
          <p>{{ items.name }}</p>
          <p>{{ items.description }}</p>
        </div>
        <div class="column is-one-quarter numbers">
          <span>Quantity: {{ items.numberOfItems }}</span>
        </div>
        <div class="column is-one-quarter numbers">
          Price: £{{ items.numberOfItems * items.price }}
        </div>
      </div>
    </ng-container>
  </div>

  <div class="container">
    <div class="title starters-title">Dessert</div>
    <div *ngIf="desertTotal.length === 0">
      <h2>You haven't ordered any desserts.</h2>
      <h2>Are you sure you don't fancy getting something</h2>
      <button class="button purple-btn is-large" (click)="goToOrder()">Order dessert</button>
    </div>
    <ng-container *ngFor="let items of itemsInBasket">
      <div class="columns" *ngIf="items.type === 'desert'">
        <div class="column is-one-quarter">
          <div class="image item-image" [style.background-image]="'url(assets/images/' + items.image +')'"></div>
        </div>
        <div class="column is-one-quarter">
          <p>{{ items.name }}</p>
          <p>{{ items.description }}</p>
        </div>
        <div class="column is-one-quarter numbers">
          <span>Quantity: {{ items.numberOfItems }}</span>
        </div>
        <div class="column is-one-quarter numbers">
          Price: £{{ items.numberOfItems * items.price }}
        </div>
      </div>
    </ng-container>
  </div>
  <!-- TODO: Remove buttons from p tags -->
  <div class="footer-banner">
    <div class="content">
      <div class="separator"></div>
      <p>If ordered by midnight on Tuesday, your food will be delivered on Friday, between 3-5pm</p>
      <p>If ordered on any other day, your food will be delivered next Friday</p>
      <div class="total">
        <h2>Total</h2>
        <h2>£{{ total }}</h2>
      </div>
      <div class="separator"></div>
    </div>
  </div>
  <div class="field is-grouped basket-button-group">
    <button class="button basket-button purple-btn is-large" (click)="goToDeliveryDetails()">Delivery Details</button>
    <button class="button basket-button purple-btn is-large" (click)="backToOrder()">Amend Order</button>
  </div>
</div>