<section class="section">
  <div class="container">
    <ng-container *ngFor="let product of products">
      <div class="columns" *ngIf="products">
          <div class="column is-one-quarter">
              Name: {{ product?.name }}
          </div>
          <div class="column is-one-quarter">
              <input class="input" type="number" [value]="product.stock" (input)="product.stock = $event.target.value">
          </div>
          <div class="column is-one-quarter">
              <div class="field">
                <div class="control">
                  <label class="checkbox">
                    <input type="checkbox" [(ngModel)]="product.available">
                    Is on the menu
                  </label>
                </div>
              </div>
          </div>
          <div class="column is-one-quarter">
              <button class="button" (click)="updateStock(product.stock, product)">Update Stock</button>
          </div>
      </div>
    </ng-container>
  </div>
</section>

<ng-container *ngFor="let product of products">
    <div class="columns">
      <div class="column is-one-quarter">
        <!-- <div class="image item-image" [style.background-image]="'url(assets/images/' + items.image +')'"></div> -->
      </div>
      <div class="column is-one-quarter">
        <p>{{ items?.name }}</p>
        <p>{{ items?.description }}</p>
      </div>
      <div class="column is-one-quarter numbers">
        <span>{{ items?.numberOfItems }}</span>
      </div>
      <div class="column is-one-quarter numbers">
        <!-- <span>{{ items.numberOfItems * items.price }}</span> -->
      </div>
    </div>
</ng-container>

