<section class="section">
    <div class="container">
        <h1 class="title">Menu</h1>
        <!-- <button class="purple-btn button is-medium" (click)="goToAddItem()">Add Item</button> -->
        <ng-container *ngFor="let product of products">
            <div class="columns">
                <div class="column is-half">
                    Menu Item: {{ product?.name }}
                </div>
                <div class="column is-one-quarter">
                    <button class="button is-small" (click)="goToEdit(product.id)">Edit</button>
                </div>
            </div>
        </ng-container>
        <button class="purple-btn button is-medium" (click)="goToAddItem()">Add Item</button>
    </div>
</section>