.hero-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 480px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}