<section class="section">
    <div class="container">
        <h1 class="title">Add Menu Item</h1>
        <h2 class="subtitle">Main Info</h2>
        <form [formGroup]="newItemForm" (ngSubmit)="onSubmit()">
            <div class="field">
                <label for="id" class="label">Product Id</label>
                <p>Please make sure product id number is higher than {{ highestIdNumber }}</p>
                <div class="control">
                    <input name="id" formControlName="product_id" class="input" type="number">
                </div>
            </div>
            <div class="field">
                <label for="name" class="label">Item Name</label>
                <div class="control">
                    <input name="name" formControlName="name" class="input" type="text">
                </div>
            </div>
            <div class="field">
                <label for="subtitle" class="label">Subttile</label>
                <div class="control">
                    <input name="subtitle" formControlName="subtitle" class="input" type="text">
                </div>
            </div>
            <div class="field">
                <label for="description" class="label">Description</label>
                <div class="control">
                    <textarea name="description" formControlName="description" class="textarea"></textarea>
                </div>
            </div>
            <div class="field">
                <label for="image" class="label">Image</label>
                <div class="control">
                    <input name="image" formControlName="image" class="input" type="text">
                </div>
            </div>
            <h2 class="subtitle">Details</h2>
            <div class="field">
                <label for="type" class="label">Type</label>
                <div class="control">
                    <input name="type" formControlName="type" class="input" type="text">
                </div>
            </div>
            <div class="field">
                <label for="arrives" class="label">Arrives</label>
                <div class="control">
                    <textarea name="arrives" formControlName="arrives" class="textarea"></textarea>
                </div>
            </div>
            <div class="field">
                <label for="ingredients" class="label">Ingredient</label>
                <div class="control">
                    <textarea name="ingredients" formControlName="ingredients" class="textarea"></textarea>
                </div>
            </div>
            <div class="field">
                <label for="life" class="label">Life</label>
                <div class="control">
                    <input name="life" formControlName="life" class="input" type="text">
                </div>
            </div>
            <div class="field">
                <label for="portions" class="label">Portions</label>
                <div class="control">
                    <input name="portions" formControlName="portions" class="input" type="text">
                </div>
            </div>
            <div class="field">
                <label for="recycle" class="label">Recycle</label>
                <div class="control">
                    <textarea name="recycle" formControlName="recycle" class="textarea"></textarea>
                </div>
            </div>
            <div class="field">
                <label for="serve" class="label">Serve</label>
                <div class="control">
                    <input name="serve" formControlName="serve" class="input" type="text">
                </div>
            </div>
            <div class="field">
                <label for="store" class="label">Store</label>
                <div class="control">
                    <input name="store" formControlName="store" class="input" type="text">
                </div>
            </div>
            <div class="field">
                <label for="price" class="label">Price</label>
                <div class="control">
                    <input name="price" formControlName="price" class="input" type="number">
                </div>
            </div>
            <div class="field">
                <div class="control">
                  <label class="checkbox">
                    <input type="checkbox" formControlName="available">
                    Is on the menu
                  </label>
                </div>
              </div>
              <div class="buttons">
                  <button class="purple-btn button is-medium">Add Item</button>
                  <!-- <button class="purple-btn button is-medium" (click)="goToEdit()">Edit Menu</button> -->
              </div>
        </form>
    </div>
</section>