
.title {
    font-size: 7rem;
    padding-bottom: 3rem;
    
    span {
        &:first-of-type {
            font-weight: 100;
        }
        &:nth-of-type(2) {
            font-weight: 200;
        }
        &:nth-of-type(3) {
            font-weight: 500;
        }
        &:nth-of-type(4) {
            font-weight: 900;
        }
    }
}

.subtitle {
    margin-bottom: 5rem;
    font-weight: 100;
    
    span {
        font-weight: 900;
    }
}

.content {
    min-height: 30vh;
    text-align: center;
}