<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-half">
                <div class="content">
                    <h1 class="title"><span>O</span>
                        <span>o</span>
                        <span>p</span>
                        <span>s</span>
                        <span>!</span>
                    </h1>
                    <h1 class="subtitle">We can't find the page you're looking for <span>:-(</span></h1>
                    <a class="button is-large purple-btn" routerLink="">Back to Menu</a>
                </div>
            </div>
        </div>
    </div>
</section>