<section class="section">
    <div class="columns is-centered is-multiline mains-list is-desktop">
        <ng-container *ngIf="orders?.length <= 0">
            <div class="column">
                <section class="section">
                    <h1 class="subtitle is-3">There are no orders currently</h1>
                </section>
            </div>
        </ng-container>
        <ng-container *ngFor="let order of orders">
          <div class="column is-half-desktop is-full-mobile">
            <div class="card" (click)="orderFulfilled(order)" [class.is-completed]="order.completed === true">
              <div class="card-content">
                <div class="card-header-title">
                    <p>New order from: {{ order.title }} {{ order.nameOfClient }}</p>
                    <p>Order number: {{ order.orderNumber }}</p>
                    <p>Ordered at: {{ order.dateOrdered }}</p> 
                </div>
                <div class="content">
                  <p>Deliver to: {{ order.address }}</p>
                  <p>Contact number: {{ order.phoneNumber}}</p>
                  <p>Items ordered:</p>  
                  <ul *ngFor="let orderedItems of order.itemsOrdered"> 
                      <li>{{ orderedItems.name }} x {{ orderedItems.numberOfItems }}</li>
                  </ul>
                </div>
                <div class="content">
                  Total paid: £{{ order.amount | number:'1.0-0' }}
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
</section>