<section class="hero is-vcentered">
    <div class="hero-body">
        <div class="container">
        <h1 class="title">
            {{ title }}
        </h1>
        <h2 class="content">
            {{ content }}
        </h2>
        </div>
    </div>
</section>
