.full-width-image {
    margin-top: 150px;

    div {
        width: 100%;
        min-height: 480px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}

.reviews {
    max-width: 620px;
    margin: 90px auto;
    display: flex;
    flex-direction: column;

    h2, span {
        text-align: center;
    }

    span {
        text-transform: uppercase;
        font-family: futura-pt-bold,sans-serif;
        font-weight: 900;
        font-style: normal;
    }
}