<app-background-image #backgroundImage [image]="'patlijan-header.png'"></app-background-image>
<app-hero-banner
[title]="'Aegean-Style Food At Home'"
[content]="'Easy, healthy, home-delivered fresh food for the more adventurous foodies
of West Berkshire. A choice of Mediterranean-inspired salads and of main
courses to be reheated at home.'">
</app-hero-banner>
<app-order (basket)="getBasketInfo($event)"></app-order>
<div class="full-width-image">
    <div [style.background-image]="'url(assets/images/patlijan-lentil-kofte.png'"></div>
</div>
<app-footer></app-footer>
