<section class="section">
    <div class="columns">
        <div class="column is-three-fifths is-offset-one-fifth">
            <form [formGroup]="loginForm" (ngSubmit)="onLogin()"> 
                <div class="field">
                    <div class="control">
                        <input type="text" formControlName="email" class="input" placeholder="Email" required autofocus>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <input type="password" formControlName="password" class="input" placeholder="Password" required>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <button class="button purple-btn is-large" type="submit">Login</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>