<!-- TODO: Look at removing basket button in menu if not needed -->
<section class="section">
    <div class="container">
        <div class="header-banner">
            <h1 class="title">Delivery</h1>
            <div class="content">
                <p>All PATLIJAN products are freshly prepared to maintain the highest quality. At the present time we will be delivering orders once a week on Fridays.</p>
                <p>All orders received by midnight on Tuesday will be delivered on Friday, between 3 - 5pm</p>
                <p>Please let us know of any specifics with regards to address or special needs in the order from our website</p>
                <p>Orders made after Tuesday at midnight will be delivered the next Friday</p>
                <div class="separator"></div>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="title header-title">Delivery Address</div>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="field">
                <div class="control">
                    <div class="select">
                        <select formControlName="title" name="title" id="title">
                            <option value="" selected disabled>Title</option>
                            <option>Mrs</option>
                            <option>Mr</option>
                            <option>Ms</option>
                            <option>Miss</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input type="text" formControlName="firstName" placeholder="Name" class="input" [ngClass]="{ 'is-danger' : submitted && form.firstName.errors }">
                    <div class="invalid-feedback" *ngIf="submitted && form.firstName.errors">
                        <p *ngIf="form.firstName.errors.required" class="help is-danger">First Name is required</p>
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input type="text" formControlName="lastName" placeholder="Surname" class="input" [ngClass]="{ 'is-danger' : submitted && form.lastName.errors }">
                    <div class="invalid-feedback" *ngIf="submitted && form.lastName.errors">
                        <p *ngIf="form.lastName.errors.required" class="help is-danger">Last Name is required</p>
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input type="text" formControlName="phoneNumber" placeholder="Phone" class="input" [ngClass]="{ 'is-danger' : submitted && form.phoneNumber.errors }">
                    <div class="invalid-feedback" *ngIf="submitted && form.phoneNumber.errors">
                        <p *ngIf="form.phoneNumber.errors.required" class="help is-danger">Phone number if required</p> 
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input type="email" formControlName="email" class="input" [ngClass]="{'is-danger' : submitted && form.email.errors }" placeholder="Email">
                    <div class="invalid-feedback" *ngIf="submitted && form.email.errors">
                        <p *ngIf="form.email.errors.required" class="help is-danger">This email is invalid</p>
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input type="text" formControlName="houseNumber" class="input" [ngClass]="{'is-danger' : submitted && form.houseNumber.errors }" placeholder="House name or number">
                    <div class="invalid-feedback" *ngIf="submitted && form.houseNumber.errors">
                        <p *ngIf="form.houseNumber.errors.required" class="help is-danger">House number or name is required</p>
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input type="text" formControlName="street" class="input" [ngClass]="{'is-danger' : submitted && form.street.errors }" placeholder="Street name">
                    <div class="invalid-feedback" *ngIf="submitted && form.street.errors">
                        <p *ngIf="form.street.errors.required" class="help is-danger">Address is required</p>
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="input" type="text" [ngClass]="{'is-danger' : submitted && form.postcode.errors }" formControlName="postcode" placeholder="Postcode"/>
                    <div class="invalid-feedback" *ngIf="submitted && form.postcode.errors">
                        <p class="help is-danger">We are currently only delivering to the following postcodes in West Berkshire. RG7, RG8, RG14, RG18, RG19, RG20, RG26</p>
                    </div>
                </div>
            </div>
            <div class="field" *ngIf="submitted && form.postcode.errors">
                <div class="control postcode-alert is-info">
                    <p class="is-info">If you don't see your postcode unfortunately we don't deliver to you yet</p>
                </div>
            </div>
            <div class="field is-grouped submit-btn-group">
                <button class="button delivery-btn purple-btn">Submit</button>
                <button class="button delivery-btn purple-btn" (click)="onReset(); goHome()">Cancel</button>
            </div>
        </form>
    </div>
</section>

<app-payment [info]="formData" [clientEmail]="clientEmail" [clientName]="clientName" [validForm]="validForm"></app-payment>
