<div class="container is-fluid">
    <div class="header-banner">
        <div class="title">Order Confirmation</div>
        <div class="content">
            <p>Thank you for your order. You will receive confirmation email and we hope you enjoy a delicous meal!</p>
            <div class="separator"></div>
        </div>
    </div>
</div>