<section class="section">
    <h1 class="title">Edit {{ singleProduct?.name }}</h1>
    <form [formGroup]="editMenuItem" (ngSubmit)="onSubmit()">
        <div class="field">
            <label class="label">Product Id</label>
            <div class="control">
                <input class="input" type="number" [value]="singleProduct?.product_id"  (input)="singleProduct.product_id = $event.target.value">
            </div>
        </div>
        <div class="field">
            <label class="label">Name</label>
            <div class="control">
                <input class="input" type="text" [value]="singleProduct?.name" (input)="singleProduct.name = $event.target.value">
            </div>
        </div>
        <div class="field">
            <label class="label">Subtitle</label>
            <div class="control">
                <input class="input" type="text" [value]="singleProduct?.subtitle"  (input)="singleProduct.subtitle = $event.target.value">
            </div>
        </div>
        <div class="field">
            <label class="label">Arrives</label>
            <div class="control">
                <input class="input" type="text" [value]="singleProduct?.details.arrives"  (input)="singleProduct.details.arrives = $event.target.value">
            </div>
        </div>
        <div class="field">
            <label class="label">Type</label>
            <div class="control">
                <input class="input" type="text" [value]="singleProduct?.type" (input)="singleProduct.type = $event.target.value">
            </div>
        </div>
        <div class="field">
            <label class="label">Allergens</label>
            <div class="control">
                <input class="input" type="text" [value]="singleProduct?.details.allergens" (input)="singleProduct.details.allergens = $event.target.value">
            </div>
        </div>
        <div class="field">
            <label class="label">Price</label>
            <div class="control">
                <input class="input" type="number" [value]="singleProduct?.price" (input)="singleProduct.price = $event.target.value">
            </div>
        </div>
        <div class="field">
            <label class="label">Image</label>
            <div class="control">
                <input class="input" type="test" [value]="singleProduct?.image" (input)="singleProduct.image = $event.target.value">
            </div>
        </div>
        <div class="field">
            <label class="label">Description</label>
            <div class="control">
              <textarea class="textarea" [value]="singleProduct?.description"  (input)="singleProduct.description = $event.target.value"></textarea>
            </div>
        </div>
        <button class="button purple-btn is-medium">Save Edit</button>
    </form>
</section>
