button {
    background-color: whitesmoke;
    color: rgba(0, 0, 0, 0.7);
    border-top: 1px solid whitesmoke;
    border-bottom: 1px solid whitesmoke;
    border-radius: 0px;
    border-right: 0;
    border-left: 0;
    color: rgba(0, 0, 0, 0.7);
    font-family: futura-pt-bold, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    line-height: 21px;
    min-height: 70px;
    margin-bottom: 1rem;
}

.add-to-order {
    flex-direction: row;
    justify-content: center;
    margin: 30px 0;

    
    button {
        
        &:first-of-type {
            border-left: 1px solid whitesmoke;
        }
        
        &:nth-child(3) {
            border-right: 1px solid whitesmoke;
        }
        
        &:hover {
            border: unset;
        }

    }
    

    .input {
        height: 40px;
        margin: 1.75rem 20px 1rem 0;
        max-width: 40px;
        text-indent: 4px;
    }
}

.title {
    margin-bottom: 1.75rem;
}

.title:not(.is-spaced) + .subtitle {
    margin-top: unset;
}

.subtitle {
    color: #363636;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 5px;
    line-height: 1.125;
    text-transform: uppercase;

    &.portions-subtitle {
        margin-top: 1.5rem;
    }
}

.content {
    color: rgba(0, 0, 0, 0.7);
    font-size: 1rem;
    font-weight: 600;
    line-height: 25px;
}

.serving-content {
    margin-bottom: 0;
}

.purple-btn, .input {
    margin: 1.75rem 0 1rem;
}

.control {
    .button {
        border: none;
        font-family: futura-pt-bold, sans-serif;
        font-style: normal;
        font-weight: 700;
        line-height: 21px;
        padding: 15px 10px;

        &:first-of-type {
            padding: 15px 10px 15px 0;
        }
    }
}

.count-control {
    align-items: center;
    display: flex;
    justify-content: center;
    min-width: 30px;
    text-align: center;

    .count {
        background-color: transparent;
        border: none;
        border-radius: unset;
        font-family: futura-pt-bold, sans-serif;
        font-weight: 700;
        font-style: normal;
    }
}