<section class="section">
    <div class="container" *ngIf="allProducts">
        <div class="columns is-desktop">
            <!-- is-half-desktop is-full-tablet is-full-tablet -->
            <div class="column ">
                <figure class="image is-4by3">
                    <img *ngIf="productData?.image" src="assets/images/{{ productData?.image }}">
                  </figure>
                <div class="header-image" [style.background-image]="'url(assets/images/' + productData?.image +')'"></div>
            </div>
            <!-- is-half-desktop is-full-tablet is-full-mobile -->
            <div class="column ">
                <!-- <section class="section"> -->
                    <h1 class="title">{{ productData?.name }}</h1>
                    <ng-container *ngIf="productData?.details.ingredients">
                        <h2 class="subtitle">Ingredients</h2>
                        <p class="content">{{ productData?.details.ingredients }}</p>
                    </ng-container>
                    <div class="add-to-order" *ngIf="productData?.stock > 0">
                        <button class="button" (click)="addToOrder(productData)" data-tooltip="Add to basket"><i class="fa fa-plus"></i></button>
                        <button class="count button" *ngIf="productCountPlaceholder > 0" >{{ productCountPlaceholder }}</button>
                        <button class="button" (click)="removeFromOrder(productData)" data-tooltip="Remove from basket"><i class="fa fa-minus"></i></button>
                    </div>
                    <div class="field is-grouped" *ngIf="productData?.stock <= 0">
                        <button class="button">Currently out of stock</button>
                    </div>
                    <ng-container *ngIf="productData?.details.arrives">
                        <h2 class="subtitle">How it arrives</h2>
                        <p class="content">{{ productData?.details.arrives }}</p>
                    </ng-container>
                    <ng-container *ngIf="productData?.details.store">
                        <h2 class="subtitle">How to store</h2>
                        <p class="content">{{ productData?.details.store }}</p>
                    </ng-container>
                    <ng-container *ngIf="productData?.details.life">
                        <h2 class="subtitle">Shelf Life</h2>
                        <p class="content">{{ productData?.details.life }}</p>
                    </ng-container>
                    <ng-container *ngIf="productData?.details.serve">
                        <h2 class="subtitle">How to serve</h2>
                        <p class="serving-content content" *ngFor="let serveItem of productData.details.serve">{{ serveItem }}</p>
                    </ng-container>
                    <ng-container *ngIf="productData?.details.portions">
                        <h2 class="subtitle portions-subtitle">Portions</h2>
                        <p class="content">{{ productData?.details.portions }}</p>
                    </ng-container>
                    <ng-container *ngIf="productData?.details.portions">
                        <h2 class="subtitle">How to recycle</h2>
                        <p class="content">{{ productData?.details.recycle }}</p>
                    </ng-container>
                    <ng-container *ngIf="productData?.details.portions">
                        <h2 class="subtitle">Allergens</h2>
                        <ul *ngFor="let allergens of productData?.details.allergens">
                            <li class="content">{{ allergens }}</li>
                        </ul>
                    </ng-container>
                <!-- </section> -->
            </div>
        </div>
    </div>
</section>
