<!-- <app-loader></app-loader> -->
<div class="container is-fluid" *ngIf="products">
  <div class="header-banner">
    <h2 class="title">Order your food</h2>
    <p class="content">Easy, healthy, home-delivered fresh food for the more adventurous foodies of West Berkshire. A choice of Mediterranean-inspired salads and main courses to be reheated at home. Order below by Tuesday at midnight, and your food will be delivered on Friday!</p>
  </div>
  <div class="header-banner">
    <h2 class="title">A little extra info</h2>
    <p class="content">All orders received by midnight on Tuesday will be delivered the following Friday, between 3 - 5pm. Please let us know of any specifics with regards to address or special needs in the order form on our website.
      Orders made after Tuesday at midnight will be delivered the next Friday.</p>
    <p class="content">Please note that we are currently only delivering to the following postcodes in West Berkshire RG7, RG8, RG14, RG18, RG19, RG20, RG26.</p>
  </div>
  <div class="title mains-title">Mains</div>
  <div class="columns is-centered mains-list is-multiline">
    <ng-container *ngFor="let product of products">
      <div class="column is-half-desktop is-full-mobile" *ngIf="product.type === 'main' && product.available">
        <div class="card">
          <header class="card-header">
            <div class="header-image" [style.background-image]="'url(assets/images/' + product.image +')'"></div>
          </header>
          <div class="card-content">
            <div class="card-header-title">
              {{ product.name}}
            </div>
            <div class="content">
              {{ product.description }}
            </div>
            <div class="content">
              £{{ product.price | number:'1.0-0' }}
            </div>
            <button class="purple-btn button is-medium" (click)="viewProduct($event, product)">More</button>
          </div>
          <div class="card-footer">
            <div class="field is-grouped" *ngIf="product.stock > 0">
                <button class="button is-large" (click)="addSingularItem(product)" data-tooltip="Add to basket"><i class="fa fa-plus"></i></button>
                <button class="count button is-large" [style.visibility]="product.numberOfItems ? 'visible' : 'hidden'">{{ product.numberOfItems  }}</button>
                <button class="button is-large" (click)="removeSingularItem(product)" data-tooltip="Remove from basket"><i class="fa fa-minus"></i></button>
            </div>
            <div class="field is-grouped" *ngIf="product.stock <= 0">
                <button class="button">Currently out of stock</button>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="column basket-button-group">
    <button *ngIf="showBasketButton"  class="button basket-button is-large" (click)="addToBasket()">
      View basket
    </button>
  </div>
  <div class="title mains-title starters-title">Sides and Salads</div>
  <div class="columns is-centered mains-list is-multiline">
    <ng-container *ngFor="let product of products">
      <div class="column is-half-desktop is-full-mobile" *ngIf="product.type === 'starter' && product.available">
        <div class="card">
          <header class="card-header">
            <div class="header-image" [style.background-image]="'url(assets/images/' + product.image +')'"></div>
          </header>
          <div class="card-content">
            <div class="card-header-title">
              {{ product.name}}
            </div>
            <div class="content">
              {{ product.description }}
            </div>
            <div class="content">
              £{{ product.price | number:'1.0-0' }}
            </div>
            <button class="purple-btn button is-medium" (click)="viewProduct($event, product)">More</button>
          </div>
          <div class="card-footer">
            <div class="field is-grouped" *ngIf="product.stock > 0">
              <button class="button is-large" (click)="addSingularItem(product)" data-tooltip="Add to basket"><i class="fa fa-plus"></i></button>
              <button class="count button is-large" [style.visibility]="product.numberOfItems ? 'visible' : 'hidden'">{{ product.numberOfItems  }}</button>
              <button class="button is-large" (click)="removeSingularItem(product)" data-tooltip="Remove from basket"><i class="fa fa-minus"></i></button>
            </div>
            <div class="field is-grouped" *ngIf="product.stock <= 0">
                <button class="button">Currently out of stock</button>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="column basket-button-group">
    <button *ngIf="showBasketButton"  class="button basket-button is-large" (click)="addToBasket()">
      View basket
    </button>
  </div>
  <div class="title mains-title starters-title">Dessert</div>
  <div class="columns is-centered mains-list is-multiline">
    <ng-container *ngFor="let product of products">
      <div class="column is-half-desktop is-full-mobile" *ngIf="product.type === 'desert' && product.available">
        <div class="card">
          <header class="card-header">
            <div class="header-image" [style.background-image]="'url(assets/images/' + product.image +')'"></div>
          </header>
          <div class="card-content">
            <div class="card-header-title">
              {{ product.name}}
            </div>
            <div class="content">
              {{ product.description }}
            </div>
            <div class="content">
              £{{ product.price | number:'1.0-0' }}
            </div>
            <button class="purple-btn button is-medium" (click)="viewProduct($event, product)">More</button>
          </div>
          <div class="card-footer">
            <div class="field is-grouped" *ngIf="product.stock > 0">
              <button class="button is-large" (click)="addSingularItem(product)" data-tooltip="Add to basket"><i class="fa fa-plus"></i></button>
              <button class="count button is-large" [style.visibility]="product.numberOfItems ? 'visible' : 'hidden'">{{ product.numberOfItems  }}</button>
              <button class="button is-large" (click)="removeSingularItem(product)" data-tooltip="Remove from basket"><i class="fa fa-minus"></i></button>
            </div>
            <div class="field is-grouped" *ngIf="product.stock <= 0">
              <p class="control">
                <button class="button">Currently out of stock</button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="column is-full basket-button-group">
    <button *ngIf="showBasketButton"  class="button basket-button is-large" (click)="addToBasket()">
      View basket
    </button>
  </div>
  <div class="field is-grouped basket-button-group">
    <button *ngIf="itemsInLocalStorage" class="button basket-button is-large" (click)="emptyBasket()">Empty Basket</button>
  </div>
</div>


