.header-banner {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 70px 0 50px 0;

    &:first-of-type {
        margin: 140px 0 50px 0;
    }

    .title {
        margin-bottom: 16px;
    }

    .content {
        max-width: 620px;
        text-align: center;
    }
}

.mains-title {
    letter-spacing: 13px;
    margin-bottom: 35px;
    text-align: center;
    text-transform: uppercase;
}

.starters-title {
    margin: 60px 0 50px 0;
}

.mains-list {
    max-width: 720px;
    margin: 0 auto;
}

.starters-list {
    max-width: 940px;
    margin: 0 auto;

    @media (max-width: 1023px) {
        max-width: 720px;
    }
}

.card-header {
    min-height: 190px;
    overflow: hidden;
    position: relative;

    .header-image {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }   
}

.card-header-title {
    flex-grow: unset;
    font-size: 18px;
    padding-left: 0;
    padding: 0.75rem 0;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 320px;

    .content {
        min-height: 8vh;
    }
}

.count-control {
    align-items: center;
    display: flex;
    justify-content: center;
    min-width: 30px;
    text-align: center;

    .count {
        border: none;
        border-radius: unset;
        background-color: transparent;
        font-family: futura-pt-bold, sans-serif;
        font-weight: 700;
        font-style: normal;
    }
}

.basket-button-group {
    @media (max-width: 768px) {
        flex-direction: column;
    }
}

.basket-button {
    color: #FFFFFF;
    background-color: #5B407C;
    border-radius: 4px;
    border: none;
    display: block;
    font-family: futura-pt, sans-serif;
    font-size: 16px;
    font-weight: 900;
    letter-spacing: 1px;
    line-height: 16px;
    margin: 40px auto 10px;
    text-align: center;

    a {
        color: #FFFFFF;
        font-family: futura-pt, sans-serif;
        font-size: 16px;
        font-weight: 900;
        letter-spacing: 1px;
        line-height: 16px;
        text-align: center;
    }
}

.card-footer {
    justify-content: center;

    .is-grouped {
        // background-color: #5B407C;
        background-color: whitesmoke;
        justify-content: space-evenly;
        width: 100%;

        .button {
            background-color: transparent;
            border: none;
            color: rgba(0, 0, 0, 0.7);
            font-family: futura-pt-bold, sans-serif;
            font-weight: 700;
            font-style: normal;
            font-size: 16px;
            line-height: 21px;
            min-height: 70px;
            padding: 15px 10px;
        }
    }
}
