html, body {
    margin:0;
    padding:0;
    width:100%;
    height:100%;
}

// * {border:1px solid red}
 
body {
    font-family: futura-pt,sans-serif;
    font-weight: 400;
    font-style: normal;
}

.header-banner, .footer-banner {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;

    .title {
        margin-bottom: 16px;

    }

    .content {
        max-width: 650px;
        text-align: center;
    }
}

.header-title {
    letter-spacing: 13px;
    margin-bottom: 35px;
    text-align: center;
    text-transform: uppercase;
    // margin: 90px 0 50px 0;
}

.separator {
    height: 2px;
    background-color: darkgray;
    margin: 4rem 0;
}

// form styling
.input {
    &::-webkit-input-placeholder {
        font-weight: 700;
        color: #000;
    }
}

select {
    font-weight: 700;
    color: #000;
}

// btn styling
.button {
    min-height: 60px;
    padding: 0 20px;
    font-family: future-pt, sans-serif;
    font-size: 1rem;
    min-width: 100px;
}
.purple-btn {
    margin-right: auto;
    font-size: 1rem !important;
    border-radius: 4px;
    background-color: #5B407C;
    color: #FFFFFF;
    font-family: futura-pt, sans-serif;
    font-weight: 900;
    letter-spacing: 1px;
    line-height: 16px;
    text-align: center;
    border: none;

    
    a {
        color: #FFFFFF;
        font-family: futura-pt, sans-serif;
        font-size: 16px;
        font-weight: 900;
        letter-spacing: 1px;
        line-height: 16px;
        text-align: center;
    }
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 650px;
}



// font-family: futura-pt,sans-serif;
// font-weight: 700;
// font-style: italic;

// font-family: futura-pt,sans-serif;
// font-weight: 400;
// font-style: normal;

// font-family: futura-pt,sans-serif;
// font-weight: 400;
// font-style: italic;

// font-family: futura-pt-bold,sans-serif;
// font-weight: 700;
// font-style: normal;

// font-family: futura-pt-bold,sans-serif;
// font-weight: 700;
// font-style: italic

