<nav class="navbar" role="navigation" aria-label="main navigation">
    <!-- TODO: Look at appStickyHeader -->
    <div class="navbar-brand">
      <a class="navbar-item" routerLink="">
        Patlijan
      </a>
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" (click)="mobileMenuIsActive()">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <!-- && totalNumberOfItems > 0 -->
            <button class="button is-light" (click)="goToBasket()">
              Your Basket 
            </button>
            <!-- TODO: Add functionallity to show or hide basket button if products and show amount <span *ngIf="totalNumberOfItems > 0"> - {{ totalNumberOfItems }} item<span *ngIf="totalNumberOfItems > 0">s</span></span> -->
            <a class="button is-light" href="mailto:hello@patlijan.co.uk">
              Contact
            </a>
            <button class="button is-light" *ngIf="isLogin" (click)="goToMenu()">
              Menu
            </button>
            <button class="button is-light" *ngIf="isLogin" (click)="goToOrders()">
              Orders
            </button>
            <button class="button is-light" *ngIf="isLogin" (click)="goToStock()">
              Stock
            </button>
            <button class="button is-light" *ngIf="isLogin" (click)="logout()">
              Logout
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="mobile-nav" [hidden]="!showMobileMenu">
      <div class="navbar">
        <div class="navbar-brand">
          <a class="navbar-item" (click)="closeMobileNav()" routerLink="">
            Patlijan
          </a>
          <div class="mobile-nav-header">
            <button class="delete" (click)="closeMobileNav()"></button>
          </div>
        </div>
      </div>
      <div class="mobile-nav-content">
        <div class="field is-grouped buttons">
          <a class="button is-light" routerLink="" (click)="closeMobileNav()">Home</a>
          <button class="button is-light" (click)="closeAllAndGoToBasket()">Your basket</button>
          <a class="button is-light" (click)="closeMobileNav()" href="mailto:hello@patlijan.co.uk">
            Contact
          </a>
          <button class="button is-light" *ngIf="isLogin" (click)="goToOrders()">
            Orders
          </button>
          <button class="button is-light" *ngIf="isLogin" (click)="goToStock()">
            Stock
          </button>
          <button class="button is-light" *ngIf="isLogin" (click)="logout(); closeMobileNav()">
            Logout
          </button>
        </div>
      </div>
    </div>
</nav>


