.navbar {
    margin: 0 auto;
    padding: 20px 40px;
    width: auto;
    background-color: rgba(254, 254, 254, 0);

    .navbar-brand {
        .navbar-item {
            font-size: 24px; 
            font-weight: bold;
            letter-spacing: 13px;
            text-transform: uppercase;
            color: #000;
            

            &:focus { 
                color: #5B407C;
                outline: none;
            }

            &:link { 
                color: #5B407C;
                outline: none;
            }
        }
       
    }
}

.button {
    white-space: pre-wrap;
}

.mobile-nav {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    height: 100vh;
    width: 100%;

    .navbar-brand {
        width: 100%;
        justify-content: space-between;
    }

    .mobile-nav-header {
        // background-color: #tr;
        color: #fff;
        display: flex;
        font-weight: 700;
        justify-content: flex-end;
        line-height: 1.25;
        padding: 0.75em 1em;
        position: relative;

        .delete {
            background-color: #000;
        }
    }

    .mobile-nav-content {
        .buttons {
            flex-direction: column;
            justify-content: center;
            padding: 3rem 0;
            
            button, a {
                min-width: 35vw;
                margin-right: 0;
            }
            
                
        }
    }
}

.navbar-burger {
    span {
        background-color: #000;
        height: 2px;
        width: 20px;
    }

    span:nth-child(1) {
        top: calc(50% - 7px);
    }

    span:nth-child(2) {
        top: calc(50% - 1px);
    }

    span:nth-child(3) {
        top: calc(50% + 5px);
    }
}
