.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.section {
    padding: 0 1.5rem 3rem;
}

.StripeElement {
    box-sizing: border-box;
    height: 2.5rem;
    background-color: white;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    color: #363636;
    padding: 10px 12px;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

form {
    .form-row {
        display: flex;
        flex-direction: column;
        // width: 70%;
    }
}

.notification {
    margin-top: 20px;
}
  
