<section class="section">
    <div class="container">
        <div class="title header-title" [style.opacity]="validForm ? '1' : '0'">Payment Info</div>
        <form [formGroup]="paymentForm" (ngSubmit)="createStripeToken()" [style.opacity]="validForm ? '1' : '0'" class="checkout">
            <div class="form-row">
                <div class="field">
                    <div id="card-number-element" #cardNumberEl></div>
                </div>
                <div class="field">
                    <div id="card-expiry-element" #cardExpiryEl></div>
                </div>
                <div class="field">
                    <div id="card-cvc-element" #cardCVCEl></div>
                </div>
                <div class="field" *ngIf="cardError">
                    <div id="card-errors" role="alert" *ngIf="cardError" class="notification is-danger">{{ cardError }}</div>
                </div>
                <button class="button is-large purple-btn" id="submit-button" type="submit">
                    Pay
                </button>
            </div>
        </form>
    </div>
</section>

